body, h1, h2, h3, h4, h5, h6, a{
    font-family: 'Georgia', serif;
}
p{
    font-style: italic;
}
CSfont.{
    font-family: 'Georgia', serif !important;
    font-weight: bolder;
    background-color: white;
}
.circle-img {
    width: 200px;          
    height: 200px;          
    border-radius: 50%;     
    object-fit: cover;      
    border: 4px solid var(.bg-black);
    display: block;
    margin: 20px auto;      
}
